*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	background: #026D8D;
}

/* Presentacion */


.presentacion {
	background: linear-gradient(to top, #90D5E9, #026D8D);
	font-family: 'Roboto Condensed', sans-serif;
}

img{
	width: 300px;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 50px;
	border: 3px solid;
	border-style: outset;
}

.texto{
	display: inline-block;
	padding: 20px;
	line-height: 50px;
	text-align: center;
}


/* Formulario */


section{
	background: linear-gradient(to bottom, #90D5E9, #026D8D);
	padding: 70px;
}

form h2, input{
	font-family: 'Comfortaa', cursive;
}

.formulario{

	background: lightblue;
	width: 650px;
	padding: 50px;
	margin: auto;
	border-radius: 10px;
	border-width: 5px;
}

.formulario h2{
	padding-bottom: 30px;
	text-align: center;
}

.contactos{
	padding: 15px;
	background: #E3F5FF;
	margin-bottom: 8px;
	width: 100%;
	border-radius: 10px;
	border-style: none;
}

.enviar{
	width: 100%;
	padding: 10px;
	background: #55A9A2;
	font-size: 15px;
}